html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

h2 {
  @apply font-poppins font-bold text-gray-700 text-2xl sm:text-3xl mb-3;
}

.lead {
  @apply lg:col-start-4 text-xl sm:text-2xl mb-8 leading-8 sm:leading-10 font-semibold font-poppins
}

ul {
  @apply lg:col-start-4 pt-4 list-disc font-poppins ml-5
}

label {
  @apply font-poppins font-semibold text-gray-700 text-lg sm:text-xl mb-3
}

.hero-text-shadow {
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.7);
}

.hero-supertitle {
  @apply px-3 sm:px-5 py-1 sm:py-2 text-white text-xs sm:text-base font-normal sm:font-semibold uppercase tracking-wide bg-fizio-500 rounded-full
}

.hero-title {
  @apply mt-4 text-4xl tracking-tight font-extrabold sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl lg:w-3/4
}

.hero-title span {
  @apply block text-gray-600 font-barlow uppercase font-medium text-4xl sm:font-light sm:text-7xl break-words
}

.hero-subtitle {
  @apply mt-3 text-lg text-gray-800 sm:mt-5 sm:text-2xl lg:w-1/2
}

.hero-main {
  @apply bg-fizio-100/70 flex items-center lg:justify-start sm:bg-transparent py-16 max-w-7xl m-auto lg:px-8 md:min-h-[300px]
}
.hero-container {
  @apply lg:max-w-7xl mx-auto lg:ml-0
}
.hero-box {
  @apply px-4 lg:text-left lg:flex lg:items-center
}
.hero-box-inner {
  @apply sm:pl-12 w-full lg:min-w-[800px]
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: .5;
  }
  100% {
    transform: scale(1);
  }
}
